.productContainer {
  padding: 40px;
  position: relative;

  display: flex;
  justify-content: center;

  img {
    width: 40px;
    display: inline-block;
  }

  ul {
    display: inline-block;
    margin-left: 50px;
  }
}
